# =========================================
# SERTISSAGE - .gitignore
# =========================================

# Compilados
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# =========================================
# 🔐 SEGURANÇA
# =========================================
.env
.env.*

# =========================================
# IDEs
# =========================================

### VS Code ###
.vscode/
*.code-workspace


# =========================================
# Logs e Temporários
# =========================================
*.log
*.log.*
logs/
*.tmp
*.bak
*.swp
*.swo
*~.nib
*.pid

# =========================================
# Build e Dependências
# =========================================
build/
!**/src/main/**/build/
!**/src/test/**/build/
node_modules/
.gradle/

# =========================================
# Databases
# =========================================
*.db
*.sqlite
*.sqlite3
*.h2.db

# =========================================
# Docker
# =========================================
#docker-compose.override.yml
.dockerignore

# =========================================
# Outros
# =========================================
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Package Files
*.dmg
*.pkg
*.deb
*.rpm

# JVM Crash logs
hs_err_pid*
replay_pid*